nav {
    background-color: rgb(183, 190, 196);
    display: flex;
    justify-content: center;
}

nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav img {
    padding: 10px;
    border-radius: 30%;
    background-color: rgb(255, 255, 255);
    width: 100px;
    margin-top: 10px;
}

nav h1 {
    margin: 10px;
    color: white;
}